@font-face {
  src: url(fonts\XanderBruceDemoRegular.ttf); 
  font-family: inkfont;
  }
h1{
    text-align: center;
    text-decoration: underline;
    font-family: inkfont;
    background-color: black;
    color: aliceblue;}
h2{
  margin-left: 250px;}
h3{
  margin-left: 250px;}
h4{
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}
p{
  margin-left: 270px;}
body {
    background: rgba(217, 231, 188, 0.377);}
.img{
  width: 180px;margin-left: 40px;
    border-radius: 16px;
    border: 5px solid;
    border-color: black;
    float: left;}
.img1{
  width: 250px;
}
.container {
  position: relative;
  color: black;}
.bottom-left {
  position: absolute;
  top: 198px;
  left: 60px}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;}
  th{
  background-color: black;
  color: aliceblue;}
td{
  background-color: rgb(129, 129, 129);
  color: aliceblue;
  padding: 10px;}
ul{
  margin-left: 250px;}
.flex-container {
  display: flex;
  background-color: black;}
.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;}